@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-late {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.video-info {
  animation: fade-in 1s linear;
  animation-fill-mode: forwards;
  overflow: overlay;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bg-neutral-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248/var(--tw-bg-opacity));
}

.shadow-form {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
}