@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-late {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.video-info {
  animation: fade-in 0.5s linear;
  animation-fill-mode: forwards;
  overflow: overlay;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bg-neutral-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity));
}

.shadow-form {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.navbar-link {
  color: white;
}

.navbar-link .submenu-item:hover {
  background-color: #f5f5f5;
  color: #0a0a0a;
}
.navbar-link a:hover {
  color: #dbdfe4;
}

.navbar-more:not(.is-arrowless)::after {
  border-color: white !important;
  margin-top: -0.375em !important;
  right: 0;
}

.navbar-more:not(.is-arrowless)::after,
.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}


/* extension */
.b-widget-left {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 50000;
  display: none;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 8px 16px 16px;
  min-width: 250px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(130, 130, 130, 0.12);
  border-radius: 0.25rem;
}

@media (min-width: 1025px) {
  .b-widget-left {
    display: flex;
    animation: fadeInUp 0.7s ease;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.b-widget-left__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 10px;
}

.b-widget-left__elem:first-child {
  flex-direction: column;
  padding-bottom: 10px;
}

.b-widget-left__elem:last-child {
  flex-direction: row;
}

.b-widget-left h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: black;
  margin: 0;
}

.b-widget-left button {
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #9D9D9D;
  border: none;
  background: inherit;
  padding: 0;
}

.b-widget-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  background: inherit;
}

.b-widget-left-instruction {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #1B1B1B;
  margin: 0;
}

.b-widget-left-instruction:hover {
  color: #1B1B1B;
  opacity: 0.8;
}

.b-widget-left-yes {
  width: 148px;
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #195fd7;
  border-radius: 2px;
}

.b-widget-left-yes:hover {
  color: #fff;
  opacity: 0.8;
}

.pt-28 {
  padding-top: 4rem !important;
}

.pb-20 {
  padding-bottom: 2rem !important;
}

.py-20 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.width-max-content {
  width: max-content
}

.norton {
  align-content: flex-end;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 22px;
  justify-content: center;
  margin: 2vh auto;
  width: 230px;
}

.norton p {
  color: #fff;
  white-space: nowrap;
}